.imgBody{
    width: 100%;
    height: 100vh;
}

.imgBodyVertical{
    display: none;
}
/* Estilo para las cartas de los jugadores */
.carta {
    border: 2px solid #333;
    border-radius: 10px;
    width: 8%;
    text-align: center;
    height: 20%;
    margin: 1%;
    padding: 0%;
    display: inline-block;
    word-wrap: break-word;
    background: black;
    color: white;
    box-shadow: -3px -1px 6px rgb(138 7 7 / 10%);
}

/* Estilo para la imagen del jugador */
.carta img {
    width: 40%;;
    max-height: 32%;
    border-radius: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
}

/* Estilo para el nombre del jugador */
.carta strong {
    display: block;
    font-size: 16px;
    margin-bottom: 2px;
}

/* Estilo para las habilidades */
.carta p {
    font-size: 10px;
    margin: 0;
}

.alternarJugadoresX2, .alternarJugadoresIndividuales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-button-shadow-border--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #d90429;
    margin: 10px;
  }
  .css-button-shadow-border--red:hover {
    background-color: #ef233c;
  }
  .css-button-shadow-border--red:active {
    top: 2px;
  }

  .css-button-shadow-border--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
    margin: 10px;
  }
  .css-button-shadow-border--green:hover {
    background-color: #80ed99;
  }
  .css-button-shadow-border--green:active {
    top: 2px;
  }


/* /* ---------------equipo 1----------- */ 
.posicion1{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.posicion2{
    position: absolute;
    top: 4%;
    left: 11%;
}

.posicion3{
    position: absolute;
    bottom: 0%;
    left: 11%;
}

.posicion4{
    position: absolute;
    top: 39.9%;
    left: 11%;
}

.posicion5{
    position: absolute;
    top: 60%;
    left: 25%;
}
.posicion6{
    position: absolute;
    top: 22%;
    left: 25%;
}

.posicion7{
    position: absolute;
    bottom: 38%;
    left: 39%;
}

/* ---------------equipo 2----------- */

.posicion12{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.posicion13{
    position: absolute;
    top: 4%;
    right: 11%;
}

.posicion14{
    position: absolute;
    bottom: 0%;
    right: 11%;
}

.posicion15{
    position: absolute;
    top: 40%;
    right: 11%;
}

.posicion16{
    position: absolute;
    bottom: 56%;
    right: 24%;
}

.posicion17{
    position: absolute;
    bottom: 20%;
    right: 24%;
}

.posicion18{
    position: absolute;
    top: 40%;
    right: 39%;
}

@media (max-width: 435px){
    .carta strong {
        font-size: 11px;
    }

    .carta{
        width: 40px !important;
    }
}

@media (max-width: 700px){

    .imgBodyVertical{
        display: block;
        width: 100%;
        height: 100vh;
    }

    .imgBody{
        display: none;
    }

    .carta{
        width: 80px;
        height: 70px;
    }
    .carta img{
        width: 60%;
        max-height: 57%;
    }
    .carta p{
        display: none;
    }

    /* ---------------equipo 1----------- */

    .posicion1{
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
    }

    .posicion2{
        position: absolute;
        top: 15%;
        left: 10%;
    }

    .posicion3{
        position: absolute;
        top: 15%;
        left: 75%;
    }

    .posicion4{
        position: absolute;
        top: 15%;
        left: 44%;
    }

    .posicion5{
        position: absolute;
        top: 26%;
        left: 28%;
    }

    .posicion6 {
        position: absolute;
        top: 26%;
        left: 60%;
    }

    .posicion7 {
        position: absolute;
        top: 39%;
        left: 43%;;
    }

    /* *******************equipo 2****************** */

    .posicion12{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 89%;
    }

    .posicion13 {
        position: absolute;
        top: 78%;
        right: 9%;
    }

    .posicion14 {
        position: absolute;
        bottom: 14%;
        right: 73%;
    }

    .posicion15 {
        position: absolute;
        top: 78%;
        right: 42%;
    }

    .posicion16 {
        position: absolute;
        bottom: 25%;
        right: 59%;
    }

    .posicion17 {
        position: absolute;
        bottom: 25%;
        right: 25%;
    }

    .posicion18 {
        position: absolute;
        top: 56%;
        right: 43%;
    }


}